@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

// fonts

$poppins: 'Poppins', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto Slab', serif;

// colors

$red: rgb(244, 91, 91);
$dark-blue: #212544;
$dark-gray: #18191e;
$dark-purple: rgb(98, 57, 117);
$light-gray: rgb(183, 183, 183);
$orange: #ed6b5b;
$yellow: #d3bf76;
$blue: rgb(76, 172, 198);
